{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Gallery</title>
</head>
<body>
{% include 'pages/inc/_navbar.html' %}


{% for item in photos %}
        <div class="card mb-3">
            <div class="card-header">
              URL: <p> {{ item.photo.url }}</p>
            </div>

            <div class="card-body">
                <img src="{{ item.photo.url }}"  align="left"  alt="" width="250" height="200" >
           </div>
{% endfor %}


</body>
</html>